<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="/resources/stylesheets/estiloLogin.css" rel="stylesheet" type="text/css">
</head>

<body>
    <%- include('encabezado') %>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

        <% if (typeof alert !="undefined" ) { %>
            <script>
                Swal.fire({
                    title: '<%= alertTitle %>',
                    text: '<%= alertMessage %>',
                    icon: '<%= alertIcon %>',
                    showConfirmButton: <%= showConfirmButton %>,
                    timer: <%= timer %>
                }).then(() => {
                    window.location = '/<%= ruta %>'
                })
            </script>
            <% } %>

                <div class="form">
                    <div class="form-toggle"></div>
                    <div class="form-panel one">
                        <div class="form-header">
                            <h1>INGRESO MAYAWEB</h1>
                        </div>
                        <div class="form-content">
                            <form action="auth" method="POST">
                                <div class="form-group"><label for="user">Usuario</label><input type="text" id="user" name="user" required="required" /></div><br>
                                <div class="form-group"><label for="pass">Contraseña</label><input type="password" id="pass" name="pass" required="required" /></div>
                                <div class="form-group"><a class="form-recovery" href="register">No tienes cuenta?</a></div>
                                <div class="form-group"><button type="submit">Ingresar</button></div>
                            </form>
                        </div>
                    </div>
                </div>
</body>

</html>